.App .navbar-brand {
  font-weight: bold;
}

.navbar,
.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important;
}

a {
  color: #fff !important;
}

.App {
  width: 100%;
}

.navbar-brand {
  margin-top: 1.5em;
  padding-left: 3em;
}
